@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    @apply font-lexend text-gray-700 leading-tight
}

.leading-normal {
    @apply leading-tight
}
.font-lexend-exa.leading-normal {
    @apply leading-[1.36]
}

button, input, textarea, div {
    @apply focus:outline-0
}



 .text-cap {
     leading-trim: both;
     text-edge: cap alphabetic;
 }

/* React Tab */
.color-adjust-tab .react-tabs__tab--selected {
    @apply bg-primary-700/10
}

/* React Slick */
.slick-dots {
    bottom: 10px !important;
}
.slick-dots li {
    margin: 0 !important;
    width: auto !important;
    height: auto !important;
}
.slick-dots li button {
    width: auto !important;
    height: auto !important;
    padding: 2px !important;
}
.slick-dots li button:before {
    display: none;
}
.slick-dots li button:after {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    background-color: white;
    opacity: 50%;
    border-radius: 50%;
}
.slick-dots li.slick-active button:after {
    opacity: 100%;
}